<div class="ons-lc">
  <section>
    <nav class="ons-nb">
      <div class="ons-hi">
        <a routerLink="/">
          <picture>
            <source class="ons-logo" srcset="./assets/red_marker_3d.png" type="image/webp">
            <source class="ons-logo" srcset="/assets/images/onSnapshot_logo.png" type="image/png">
            <img class="ons-logo" src="/assets/images/onSnapshot_logo.png" alt="onSnapshot logo">
          </picture>
        </a>
      </div>
      <ul class="ons-nl">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="login">Login</a>
        </li>
      </ul>
    </nav>
  </section>
  <section *ngIf=" user; let item; else loading">

    <!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">
      <h1>
        Bem vindo ao {{ title }}!
      </h1>
      <img width="300" alt="Angular Logo" src="./assets/red_marker_3d.png">
      <h2> Matheus Rafael </h2>
    </div>
  </section>
  <section *ngIf=" user; let item;">
    <!-- <section class="ons-sl" *ngIf=" user; let item; else loading"> -->
    {{ item.nome }}
  </section>
  <ng-template class="loading-template" #loading>
    <div style="text-align:center">
      <h3> Servidor carregando... aguarde.</h3>
    </div>
    <div class="cssload-thecube">
      <div class="cssload-cube cssload-c1"></div>
      <div class="cssload-cube cssload-c2"></div>
      <div class="cssload-cube cssload-c4"></div>
      <div class="cssload-cube cssload-c3"></div>
    </div>
  </ng-template>
</div>
